@font-face {
  font-family: "poppins";
  src: url("../components/fonts/poppins-bold-webfont.woff2") format("woff2"),
    url("../components/fonts/poppins-bold-webfont.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "poppins";
  src: url("../components/fonts/poppins-light-webfont.woff2") format("woff2"),
    url("../components/fonts/poppins-light-webfont.woff") format("woff");
  font-weight: 100;
}

@font-face {
  font-family: "poppins";
  src: url("../components/fonts/poppins-regular-webfont.woff2") format("woff2"),
    url("../components/fonts/poppins-regular-webfont.woff") format("woff");
  font-weight: normal;
}

body {
  background-color: rgb(34, 34, 34);
  color: white;
  font-family: "poppins";
  font-weight: 100;
  max-width: 1200px;
  margin: auto;
  padding: 16px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

a {
  font-family: "poppins";
  font-weight: normal;
  color: white;
}

a:hover {
  color: rgb(132, 14, 201);
  transition: 0.3s all;
}

.inscreva-se {
  border: 2px solid rgb(132, 14, 201);
  padding: 10px;
  border-radius: 16px;
}

.inscreva-se:hover {
  background-color: rgb(132, 14, 201);
  color: white;
  transition: 0.3s;
}

#title {
  flex-direction: column;
  line-height: 10px;
}

li {
  display: inline-block;
  margin: 20px;
}

h1 {
  font-family: "poppins";
  font-weight: normal;
}

h2 {
  font-size: 56px;
  line-height: 10px;
  font-family: "poppins";
  font-weight: bold;
}

main {
  min-width: 320px;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  margin-top: 48px;
}

main aside {
  width: 100%;
}

span {
  color: rgb(132, 14, 201);
}

p {
  line-height: 20px;
  max-width: 500px;
  font-family: "poppins";
  font-weight: 100;
}

img {
  width: 580px;
}

form {
  display: flex;
  flex-direction: column;
  width: 70%;
}

form [type="submit"] {
  height: 50px;
  width: 50%;
  background-color: rgb(132, 14, 201);
  color: white;
  font-weight: bold;
}

form [type="submit"]:hover {
  cursor: pointer;
}

input {
  margin-top: 20px;
  height: 20px;
  padding: 15px;
  border-radius: 20px;
  border: none;
  font-size: 15px;
}
